MAIL_ADDRESS = tianreformis@gmail.com
DATABASE_URL = postgresql://neondb_owner:pur9K2sRCnMa@ep-tiny-sound-a5mgkbaw.us-east-2.aws.neon.tech/neondb?sslmode=require
NEXTAUTH_SECRET=tianreformis
NEXTAUTH_URL=http://localhost:3000